# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
Assets/display_case.glb filter=lfs diff=lfs merge=lfs -text
Assets/john_wicks_glock_inspired_gun.glb filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
